.index-body{
	background-image: url("images/newBackground.png");
}
.apply-body{
	background-image: url("images/appbackground.png");
}

.index-body, .apply-body, .events-body{
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: white;
	background-size: contain;
	background-size: 30%;
}
.inner-cover, .index-body, .apply-body{
  color: black;
}
/*.backing{
	background: rgba(93, 95, 85, 0.50);
	border-radius:6px;
}

.backing-always{
	background: rgba(93, 95, 85, 0.50);
	border-radius:6px;
}*/
.form-row{
	padding-right: 30px;
	padding-left: 30px;
}
.form-group{
	padding-right:30px;
	padding-left: 30px;

}
.card{
	background:transparent;
}

.body-container {
  /* Normal .container syles*/
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  /* ----------------------*/
  margin-top: 100px;
}

/* Normal Container Fluid styles*/
@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*@media(min-width: 1030px){
	.index-body{
		background-image: url("images/bgcorgi.jpg");
	}
}*/
