.index-body{
	background-image: url("images/newBackground.png");
}
.apply-body{
	background-image: url("images/appbackground.png");
}

.events-body{
	background-image: url("images/corg_run.jpg");
	color: black;
}

.index-body, .apply-body, .events-body{
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: white;
	background-size: contain;
	background-size: 30%;
}
.inner-cover, .index-body, .apply-body{
  color: black;
}
/*.backing{
	background: rgba(93, 95, 85, 0.50);
	border-radius:6px;
}

.backing-always{
	background: rgba(93, 95, 85, 0.50);
	border-radius:6px;
}*/
.form-row{
	padding-right: 30px;
	padding-left: 30px;
}
.form-group{
	padding-right:30px;
	padding-left: 30px;

}
.card{
	background:transparent;
}

.event-card{
	border: none;
	box-shadow:  2px 2px 2px  rgba(128,128,128, .5);
}

.card-image-top{
	box-shadow:  2px 2px 2px  #000000;
}
.card-footer{
	display: inline;
}


@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*@media(min-width: 1030px){
	.index-body{
		background-image: url("images/bgcorgi.jpg");
	}
}*/
