.index-body{
  background-image: url("images/newBackground.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: white;
  background-size: contain;
  background-size: 40%;
  color: black;
}
.apply-body{
	background-image: url("images/appbackground.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: white;
	background-size: contain;
	background-size: 30%;
	color: black;
}
.inner-cover{
  color: black;
}
/*.backing{
  background: rgba(93, 95, 85, 0.50);
  border-radius:6px;
}

.backing-always{
  background: rgba(93, 95, 85, 0.50);
  border-radius:6px;
}*/

/*@media (min-width: 774px) {
  .index-body{
    background-image: url("images/lightscorg.jpg");
  }
}

@media(min-width: 1030px){
  .index-body{
    background-image: url("images/bgcorgi.jpg");
  }
}*/
